import React, { useState } from 'react';
import { Button, TextField, Typography } from '@material-ui/core';
import { useApi, fetchApiRef } from '@backstage/core-plugin-api';

const LocalApiComponent = () => {
const fetchApi = useApi(fetchApiRef);
const [input, setInput] = useState('');
const [response, setResponse] = useState(null);

const handleInputChange = (event: React.ChangeEvent<HTMLInputElement>) => {
    setInput(event.target.value);
    };

    const handleSubmit = async () => {
    try {
    const res = await fetchApi.fetch(process.env.REACT_APP_API_URL, {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json',
    },
    body: JSON.stringify({ input }),
    });

    const data = await res.json();
    setResponse(data);
    } catch (error) {
    console.error('Error fetching API:', error);
    setResponse(null);
    }
    };

    return (
    <div>
        <Typography variant="h4">Local API Interaction</Typography>
        <TextField
                label="Input"
                value={input}
                onChange={handleInputChange}
        />
        <Button variant="contained" color="primary" onClick={handleSubmit}>
            Submit
        </Button>
        {response && (
        <div>
            <Typography variant="h6">Response:</Typography>
            <pre>{JSON.stringify(response, null, 2)}</pre>
        </div>
        )}
    </div>
    );
    };

    export default LocalApiComponent;
